<ul class="sidebar-menu">
  <li class="header">MENU</li>
  <li routerLinkActive="active"><a routerLink="dashboard"><i class="fa  fa-dashboard"></i> <span>Dashboard</span></a></li>
  <li class="treeview" routerLinkActive="active">
    <a href="#"><i class="fa fa-database"></i> <span>Cadastros</span>
      <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
      <li routerLinkActive="active"><a routerLink="produtos">Produtos</a></li>
    </ul>
  </li>
</ul>
