<ul class="sidebar-menu">
  <li class="header">MENU</li>
  <li routerLinkActive="active"><a routerLink="/"><i class="fa  fa-dashboard"></i> <span>Home</span></a></li>
  <li class="treeview" routerLinkActive="active">
    <a href="#"><i class="fa fa-file"></i> <span>Pedidos</span>
      <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
      <li routerLinkActive="active"><a routerLink="/">Realizar pedido</a></li>
    </ul>
    <ul class="treeview-menu">
      <li routerLinkActive="active"><a routerLink="/">Histórico de pedidos</a></li>
    </ul>
  </li>
</ul>
