<app-content-header title="Carrinho" description="" icon="fa-dash" item="Home" active="carrinho"></app-content-header>
<section class="content">
  <div class="row">
    <div class="col-sm-12">
      <table id="example2" class="table table-bordered table-hover dataTable" role="grid">
        <thead>
          <tr role="row">
            <th>Nome</th>
            <th>Categoria</th>
            <th>Valor</th>
            <th>Quantidade</th>
          </tr>
        </thead>
        <tbody>
          <tr role="row" class="even" *ngFor="let row of items">
            <td>{{row.nome}}</td>
            <td>{{row.categoria}}</td>
            <td>{{row.valorTotal | currency: 'R$ '}}</td>
            <td>{{row.quantidade}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <a id="btn-fblogin" (click)="finalizarPedido()" class="btn btn-primary btn-success">
              <i class="fa fa-plus-circle"></i>
              Finalizar pedido</a>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</section>