<app-content-header title="Produtos" description="" icon="fa-dash" item="{{itemMenu}}" active="produtos"></app-content-header>

<section class="content">
  <div class="row">
    <div class="panel panel-default efeito-painel col-md-2" *ngFor="let produto of produtos">
      <div class="panel-heading">
        <h3 class="panel-title text-center">{{produto.nome | uppercase}}</h3>
      </div>
      <div class="panel-body">
        <a routerLink="['produtos/cadastro', produto.idProduto]">
          <img class="img-responsive center-block efeito" [src]="produto.foto" [alt]="produto.nome">
        </a>
      </div>
    </div>
  </div>
</section>