<app-content-header title="Produtos" description="" icon="fa-dash" item="{{itemMenu}}" active="produtos"></app-content-header>
<p *ngIf="mensagem.length" class="alert alert-info">{{mensagem}}</p>
<a id="btn-fblogin" (click)="cadastro()" class="btn btn-primary btn-success"  *ngIf="isAdmin"><i class="fa fa-plus-circle"></i>
  ADICIONAR PRODUTO</a>
<section class="content">
  <div class="row">
    <div class="panel panel-default efeito-painel col-md-2" style="margin-right: 5px;" *ngFor="let produto of produtos">
      <div class="panel-heading">
        <h3 class="panel-title text-center">{{produto.nome | uppercase}}</h3>
      </div>
      <div class="panel-body">
        <a (click)="onClick()">
          <img class="img-responsive center-block efeito" [src]="produto.foto" [alt]="produto.nome">
        </a>
        <button (click)="remover(produto)" class="btn btn-danger btn-block" *ngIf="isAdmin">Remover</button>
        <button (click)="adicionar(produto)" class="btn btn-info btn-block" *ngIf="!isAdmin">
          <i class="fa fa-cart-plus"></i>
          Adicionar
        </button>
        <!-- <button (click)="alterar(produto.id)" class="btn btn-info btn-block" *ngIf="isAdmin">
          <i class="fa fa-cart-plus"></i>
          Alterar
        </button> -->
      </div>
    </div>
  </div>
</section>